@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("/fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gilroy-Regular.woff") format("woff"),
    url("/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"),
    url("/fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gilroy-Medium.woff") format("woff"),
    url("/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"),
    url("/fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gilroy-SemiBold.woff") format("woff"),
    url("/fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"),
    url("/fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gilroy-Bold.woff") format("woff"),
    url("/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.swiper-wrapper {
  padding-top: 32px;
  padding-bottom: 64px;
}

.swiper-slide {
  width: fit-content !important;
  opacity: 0.5;
  border: 2px solid #eeeeee !important;
}

.swiper-wrapper .swiper-slide-active {
  opacity: 1 !important;
  box-shadow: 15px 25px 60px -10px rgba(0, 0, 0, 0.1);
  border: none !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0px !important;
}

.swiper-pagination .swiper-pagination-bullet {
  /* background-color: #acacac !important; */
  margin: 0 6px !important;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #f25822 !important;
  transform: scale(1.4, 1.4) !important;
}

.mobile-menu {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    position: static;
    width: auto;
    max-height: none;
    overflow: visible;
    display: flex;
    box-shadow: none;
    opacity: 1;
  }
}

.collapse {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.collapse.show {
  max-height: 99em;
  transition: max-height 0.5s ease-in-out;
}
